<%- include ('./base.ejs') -%>
  <!DOCTYPE html>
  <html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0.75">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300&family=Roboto+Slab&display=swap"
      rel="stylesheet">

    <title>529 Criteria</title>
    <link rel="stylesheet" href="css/main.css">

  </head>

  <body>
    <!--stuff to be flex wrapped and makes space so footer is at the bottom of the page(flex-wrap css is in base.ejs)-->
    <div class="d-flex flex-column min-vh-100 align-items-center">
      <div>
        <pre>  </pre>
      </div>

      <div>
        <pre>  </pre>
        <h1 style="color:#232D4B; text-align: center;">529 Eligible Expense Caps (Updated: 2021-2022)</h1>
        <table class="table table-striped" style="color:#232D4B; max-width: 70rem">

          <thead>
            <tr>
              <th scope="col">Expense Type</th>
              <th scope="col">Expense Cap</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1) Enrollment</th>
              <td>Uncapped</td>
            </tr>
            <tr>
              <th scope="row">2) Room & board</th>
              <td>$6960</td>
            </tr>
            <tr>
              <th scope="row">3) Dining</th>
              <td>$5390</td>
            </tr>
            <tr>
              <th scope="row">4) Required Books & Supplies</th>
              <td>Uncapped</td>
            </tr>
            <tr>
              <th scope="row">5) Computers, Peripherals, Software, & Internet</th>
              <td>Uncapped</td>
            </tr>
            <tr>
              <th scope="row">6) Special Needs Accommodations</th>
              <td colspan="2">Uncapped</td>
            </tr>
          </tbody>
        </table>
        <pre>  </pre>
      </div>
    
      <div class="badge badge-primary text-wrap" style="max-width: 70rem; text-align: left;">
        <p>
          <b><i>Which expenses are eligible? </i></b><br><br>
          1) Enrollment, which includes tuition and other academic fees, is entirely eligible. <br><br>
          2) Room and board are eligible, up to the amount that UVA lists under its cost of attendance webpage, <a
            href="https://sfs.virginia.edu/financial-aid-current-students/current-undergraduate-students/financial-aid-basics/estimated-0"
            target="_blank">linked here</a>. Please note, room and board are only 529 eligible for students who are
          enrolled in courses at least ‘half-time’.<br><br>
          3) Dining and grocery costs are eligible, up to the amount that UVA lists under its cost of attendance webpage,
          <a href="https://sfs.virginia.edu/financial-aid-current-students/current-undergraduate-students/financial-aid-basics/estimated-0"
            target="_blank">linked here</a>. <br><br>
          4) Required books and supplies are also eligible for payment via a 529 savings plan. ‘Required’ means that the
          item is explicitly required in a class syllabus for active participation in the course. <br><br>
          5) Computers, peripheral equipment (speakers, mice, monitors, etc.), software, and internet access are covered,
          if they are used primarily for academic purposes. <br><br>
          6) Students who require special needs accommodations for academic purposes may use a 529 college savings plan to
          pay for any accommodation(s), if the accommodation is used for academic purposes. <br><br><br>




        </p>
        <hr style: width=100% />
      </div>


      <div class="badge badge-primary text-wrap" style="max-width: 70rem; text-align: left;">
        <p>
          <b><i>What isn’t eligible? </i></b><br><br>
          None of the following items is eligible for payment via a 529 college savings plan:<br><br> Travel expenses,
          health insurance, college test prep exams/courses, club dues, Greek Life dues, or athletic expenses.

        </p>
        <hr style: width=100% />
      </div>

      <div class="badge badge-primary text-wrap" style="max-width: 70rem; text-align: left;">
        <p>
          <b><i>Sources: </i></b>&nbsp;

          <a href="https://www.merrilledge.com/ask/college/what-is-a-qualified-expense-for-529-plans"
            target="_blank">Merrill</a>,
          <a href="https://www.savingforcollege.com/article/what-you-can-pay-for-with-a-529-plan" target="_blank">Saving
            for College</a>
        </p>


      </div>
    </div>
    <div>
      <pre>  </pre>
    </div>


  </body>
  <!--footer-->
  <div id="footer" class="footer">
    <footer class="p-1 text-center" style="background-color: #232D4B;">
      <div class="container">
        <p class="lead text-white" style="font-family: libre franklin">
          &copy; UVA Development Hub 2021
        </p>
      </div>


    </footer>
  </div>

  </html>
